video#bg-video {
  background: url(first-frame.png) no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}
span {
  font-size: 6em;
  display: block;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}
#coming-soon {
  font-size: 1em;
  display: inline-block;
  float: right;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-family: 'Trykker', serif;
}
